<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">POS CCL <sup></sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a [routerLink]="['./home']" class="nav-link">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Modules
    </div>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a [routerLink]="['./shipper']" type="button" routerLinkActive="router-link-active"  class="nav-link" >
            <i class="fas fa-fw fa-solid fa-list"></i>
            <span>Categorias</span></a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['./shipper']" type="button" routerLinkActive="router-link-active"  class="nav-link" >
            <i class="fas fa-fw fa-solid fa-user-tie"></i>
            <span>Clientes</span></a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['./shipper']" type="button" routerLinkActive="router-link-active"  class="nav-link" >
            <i class="fas fa-fw fa-solid fa-user-injured"></i>
            <span>Empleados</span></a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['./product']" type="button" routerLinkActive="router-link-active"  class="nav-link" >
            <i class="fas fa-fw fa-solid fa-receipt"></i>
            <span>Productos</span></a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['./shipper']" type="button" routerLinkActive="router-link-active"  class="nav-link" >
            <i class="fas fa-fw fa-solid fa-dna"></i>
            <span>Ordenes</span></a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['./shipper']" type="button" routerLinkActive="router-link-active"  class="nav-link" >
            <i class="fas fa-fw fa-solid fa-spinner"></i>
            <span>Transportista</span></a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['./shipper']" type="button" routerLinkActive="router-link-active"  class="nav-link" >
            <i class="fas fa-fw fa-regular fa-circle"></i>
            <span>Proveedores</span></a>
    </li><li class="nav-item">
        <a [routerLink]="['./shipper']" type="button" routerLinkActive="router-link-active"  class="nav-link" >
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Ventas</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
        <img class="sidebar-card-illustration mb-2" src="../../../../assets/img/undraw_rocket.svg" alt="...">
        <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
    </div>

</ul>
<!-- End of Sidebar -->
